<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color:rgb(128, 128, 128);
        }
    
        
    </style>
</head>
<body>
    <center>
    <div>
        <form>
            <label id="one">
                 select city
            </label>
               <select>
                <option>.....select....</option>
                <option>tirupati</option>
                <option>vizag</option>
                <option>chilakuluripetta</option>
                

               </select>
        </form>
    </div>
    </center>
    <center>
    <h1><a href="{% url 'yuva:app1_first'%}">select mawa</a></h1>
    </center>
    <img src="https://tse1.mm.bing.net/th?id=OIP.Akb3yhiSsBO1vf_V0rG5TAHaEo&pid=Api&P=0">

</body>
</html>
    
</body>
</html>